customtkinter
Pillow
cryptography
pyinstaller
openai
google-generativeai>=0.8.6
anthropic
groq
mistralai
openpyxl
requests>=2.32.0
beautifulsoup4
playwright
playwright-stealth
huggingface_hub
pypdf
pandas
matplotlib
python-pptx
scrapegraphai
langchain
yfinance
diffusers
torch
nest_asyncio
python-docx
pydantic
scrapegraph-py