customtkinter
Pillow
cryptography
pyinstaller
openai
google-generativeai
anthropic
groq
mistralai
openpyxl
requests
beautifulsoup4
playwright
playwright-stealth
huggingface_hub
pypdf
pandas
matplotlib
python-pptx
scrapegraphai
langchain
yfinance
diffusers
torch
nest_asyncio
python-docx
pydantic
scrapegraph-py